body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.profile-img {
    width: 150px;
}

.card {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #daf1f8;
    background: #001A35;
    background: linear-gradient(240deg, rgba(0, 26, 53, 1) 46%, rgba(1, 48, 94, 1) 50%);
    border-bottom: px solid #96f7ff;

}
