body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.profile-img {
    width: 150px;
    border-radius: 20px;
}

.card {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    color: #daf1f8;
    background: #001A35;
    background: linear-gradient(240deg, rgba(0, 26, 53, 1) 46%, rgba(1, 48, 94, 1) 50%);
    /* border-bottom: 5px solid #96f7ff; */
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px #001A35;
    transition: transform 0.25s ease-in, transform 0.25s ease-out;
}

.card:hover {
    text-shadow: 0px 0px 2px #96f7ff;
    border: 1px solid #96f7ff;
    transform: scale(1.06, 1.06);
    cursor: pointer;
}

.card:active {
    transform: rotateY(180deg);
}
